COSMOS_ENDPOINT="https://azcosxxxxxxxxxhind.documents.azure.com"
TENANT_ID=99xxxx6be14cd34d
CLIENT_ID=ee1xxxxxxxxxxxxx3
CLIENT_SECRET=Jxxaxxaxxaaaaxaxaxaaxa
AZURE_SEARCH_SERVICE_ENDPOINT="https://xxxxxxx.search.windows.net"
AZURE_COSMOSDB_RESOURCE_ID_CONNECTION_STRING="ResourceId=/subscriptions/xxxxx/resourceGroups/RGAzAI/providers/Microsoft.DocumentDB/databaseAccounts/axxxxxx;Database=mydb;"
AZURE_OPENAI_ENDPOINT="https://azxxxxxxxxd.openai.azure.com"
